In [9]:
import json

# Función para extraer categorías y géneros únicos del JSON
def extraer_categorias_y_generos(json_file):
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    categorias = set()
    generos = set()

    for entrada in datos:
        categorias.add(entrada['categoria'])
        generos.update(entrada['genero'].split(', '))

    return list(categorias), list(generos)

# Función para generar consultas INSERT para categorías y géneros
def generar_inserts_categorias_generos(categorias, generos):
    consultas_categoria = []
    consultas_genero = []

    for idx, categoria in enumerate(categorias, start=1):
        categoria = categoria.replace("'", "''")
        consultas_categoria.append(f"INSERT INTO categorias (id, nombre) VALUES ({idx}, '{categoria}');")

    for idx, genero in enumerate(generos, start=1):
        genero = genero.replace("'", "''")
        consultas_genero.append(f"INSERT INTO generos (id, nombre) VALUES ({idx}, '{genero}');")

    return consultas_categoria, consultas_genero

# Función para generar consultas INSERT para contenido y su relación con géneros
def generar_inserts_contenido(json_file, categoria_map, genero_map):
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    columnas_excluidas = {'categoria', 'genero', 'gen', 'reparto', 'busqueda','resumen'}
    columnas = [col for col in datos[0].keys() if col not in columnas_excluidas]
    columnas.append('id_categoria')

    consultas_contenido = []
    consultas_genero = []

    for entrada in datos:
        valores = []
        for col in columnas:
            if col == 'id_categoria':
                id_categoria = categoria_map.get(entrada['categoria'], 'NULL')
                valores.append(str(id_categoria))
            else:
                valor = entrada[col]
                if isinstance(valor, str):
                    valor = valor.replace("'", "''")
                    valores.append(f"'{valor}'")
                else:
                    valores.append(str(valor))

        insert_query_contenido = f"INSERT INTO contenido ({', '.join(columnas)}) VALUES ({', '.join(valores)});"
        consultas_contenido.append(insert_query_contenido)

        contenido_id = entrada['id']
        genero_ids = [genero_map.get(g.strip(), 'NULL') for g in entrada['genero'].split(', ')]

        for genero_id in genero_ids:
            if genero_id != 'NULL':
                consultas_genero.append(f"INSERT INTO contenido_generos (contenido_id, genero_id) VALUES ({contenido_id}, {genero_id});")

    return consultas_contenido, consultas_genero

# Función para generar consultas INSERT para actores y la relación contenido_actores
def generar_inserts_actores(json_file):
    with open(json_file, 'r', encoding='utf-8') as file:
        datos = json.load(file)

    actores_unicos = {}
    consultas_actores = []
    consultas_contenido_actores = []

    actor_id_counter = 1

    for entrada in datos:
        contenido_id = entrada['id']
        actores = [actor.strip() for actor in entrada['reparto'].split(',')]

        for actor in actores:
            if actor not in actores_unicos:
                actores_unicos[actor] = actor_id_counter
                actor_escaped = actor.replace("'", "''")
                consultas_actores.append(f"INSERT INTO actores (id, nombre) VALUES ({actor_id_counter}, '{actor_escaped}');")
                actor_id_counter += 1

            actor_id = actores_unicos[actor]
            consultas_contenido_actores.append(f"INSERT INTO contenido_actores (contenido_id, actor_id) VALUES ({contenido_id}, {actor_id});")

    return consultas_actores, consultas_contenido_actores

# Mapeos de categorías y géneros a sus respectivos IDs
categoria_map = {
    "Serie": 1,
    "Película": 2
}

genero_map = {
    "Acción": 1,
    "Drama": 2,
    "Fantasía": 3,
    "Ciencia Ficción": 4,
    "Suspenso": 5,
    "Comedia": 6,
    "Misterio": 7,
    "Aventura": 8,
    "Crimen": 9,
    "Familia": 10
}

# Uso del script
json_file = 'trailerflix.json'

# Extraer y generar consultas para categorías y géneros
categorias, generos = extraer_categorias_y_generos(json_file)
consultas_categoria, consultas_genero = generar_inserts_categorias_generos(categorias, generos)

# Generar consultas para contenido y relaciones con géneros
consultas_contenido, consultas_contenido_genero = generar_inserts_contenido(json_file, categoria_map, genero_map)

# Generar consultas para actores y relaciones con el contenido
consultas_actores, consultas_contenido_actores = generar_inserts_actores(json_file)

# Imprimir o ejecutar las consultas generadas
print("Consultas para la tabla Categorías:")
for consulta in consultas_categoria:
    print(consulta)

print("\nConsultas para la tabla Géneros:")
for consulta in consultas_genero:
    print(consulta)

print("\nConsultas para la tabla Contenido:")
for consulta in consultas_contenido:
    print(consulta)

print("\nConsultas para la tabla Contenido_Géneros:")
for consulta in consultas_contenido_genero:
    print(consulta)

print("\nConsultas para la tabla Actores:")
for consulta in consultas_actores:
    print(consulta)

print("\nConsultas para la tabla Contenido_Actores:")
for consulta in consultas_contenido_actores:
    print(consulta)

Consultas para la tabla Categorías:
INSERT INTO categorias (id, nombre) VALUES (1, 'Serie');
INSERT INTO categorias (id, nombre) VALUES (2, 'Película');

Consultas para la tabla Géneros:
INSERT INTO generos (id, nombre) VALUES (1, 'Familia');
INSERT INTO generos (id, nombre) VALUES (2, 'Suspenso');
INSERT INTO generos (id, nombre) VALUES (3, 'Intriga');
INSERT INTO generos (id, nombre) VALUES (4, 'Ficción');
INSERT INTO generos (id, nombre) VALUES (5, 'Sucesos');
INSERT INTO generos (id, nombre) VALUES (6, 'Comedia');
INSERT INTO generos (id, nombre) VALUES (7, 'Futurista');
INSERT INTO generos (id, nombre) VALUES (8, 'Romance');
INSERT INTO generos (id, nombre) VALUES (9, 'Historia');
INSERT INTO generos (id, nombre) VALUES (10, 'Terror');
INSERT INTO generos (id, nombre) VALUES (11, '¿Ficción?');
INSERT INTO generos (id, nombre) VALUES (12, 'Misterio');
INSERT INTO generos (id, nombre) VALUES (13, 'Drama');
INSERT INTO generos (id, nombre) VALUES (14, 'Acción');
INSERT INTO generos (id, nombre) VALUES (15, 'Fantasía');
INSERT INTO generos (id, nombre) VALUES (16, 'Crimen');
INSERT INTO generos (id, nombre) VALUES (17, 'Western');
INSERT INTO generos (id, nombre) VALUES (18, 'Ciencia Ficción');
INSERT INTO generos (id, nombre) VALUES (19, 'Suceso Real');
INSERT INTO generos (id, nombre) VALUES (20, 'Musical');
INSERT INTO generos (id, nombre) VALUES (21, 'Aventura');
INSERT INTO generos (id, nombre) VALUES (22, 'Animación');
INSERT INTO generos (id, nombre) VALUES (23, 'Tecnología');
INSERT INTO generos (id, nombre) VALUES (24, 'Sci-Fi');
INSERT INTO generos (id, nombre) VALUES (25, 'Música');
INSERT INTO generos (id, nombre) VALUES (26, 'Ciencia ficción');

Consultas para la tabla Contenido:
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (3, './posters/3.jpg', 'The Mandalorian', 2, 'https://www.youtube.com/embed/aOC8E8z_ifw', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (4, './posters/4.jpg', 'The Umbrella Academy', 1, 'https://www.youtube.com/embed/KHucKOK-Vik', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (5, './posters/5.jpg', 'Gambito de Dama', 1, 'https://www.youtube.com/embed/lbleRbyGKL4', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (2, './posters/2.jpg', 'Riverdale', 5, 'https://www.youtube.com/embed/HxtLlByaYTc', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (1, './posters/1.jpg', 'The Crown', 4, 'https://www.youtube.com/embed/JWtnJjn6ng0', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (6, './posters/6.jpg', 'Enola Holmes', 'N/A', 'https://www.youtube.com/embed/3t1g2pa355k', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (7, './posters/7.jpg', 'Guasón', 'N/A', 'https://www.youtube.com/embed/zAGVQLHvwOY', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (8, './posters/8.jpg', 'Avengers: End Game', 'N/A', 'https://www.youtube.com/embed/TcMBFSGVi1c', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (9, './posters/9.jpg', 'Juego de tronos', '8', 'https://www.youtube.com/embed/KPLWWIOCOOQ', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (10, './posters/10.jpg', 'The Flash', '6', 'https://www.youtube.com/embed/Yj0l7iGKh8g', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (11, './posters/11.jpg', 'The Big Bang Theory', '12', 'https://www.youtube.com/embed/WBb3fojgW0Q', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (12, './posters/12.jpg', 'Friends', '10', 'https://www.youtube.com/embed/ekYGfU0XIx0', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (13, './posters/13.jpg', 'Anne with an ''E''', '2', 'https://www.youtube.com/embed/M4T-_aB8smU', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (14, './posters/14.jpg', 'Expedientes Secretos ''X''', '11', 'https://www.youtube.com/embed/KKziOmsJxzE', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (15, './posters/15.jpg', 'Chernobyl', '1', 'https://www.youtube.com/embed/s9APLXM9Ei8', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (16, './posters/16.jpg', 'Westworld', '3', 'https://www.youtube.com/embed/qLFBcdd6Qw0', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (17, './posters/17.jpg', 'Halt and Catch Fire', '4', 'https://www.youtube.com/embed/pWrioRji60A', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (18, './posters/18.jpg', 'Ava', 'N/A', 'https://www.youtube.com/embed/eLEwNo78f0k', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (19, './posters/19.jpg', 'Aves de presa (Harley Quinn)', 'N/A', 'https://www.youtube.com/embed/saUmnenKbBM', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (20, './posters/20.jpg', 'Archivo', 'N/A', 'https://www.youtube.com/embed/VHSoCnDioAo', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (22, './posters/22.jpg', '3022', 'N/A', 'https://www.youtube.com/embed/AGQ7OkmIx4Q', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (23, './posters/23.jpg', 'IT - Capítulo 2', 'N/A', 'https://www.youtube.com/embed/hZeFeYSmBcg', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (24, './posters/24.jpg', 'Pantera Negra', 'N/A', 'https://www.youtube.com/embed/BE6inv8Xh4A', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (25, './posters/25.jpg', 'Contra lo imposible (Ford versus Ferrari)', 'N/A', 'https://www.youtube.com/embed/SOVb0-2g1Q0', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (26, './posters/26.jpg', 'Centígrados', 'N/A', 'https://www.youtube.com/embed/0RvV7TNUlkQ', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (27, './posters/27.jpg', 'DOOM: Aniquilación', 'N/A', 'https://www.youtube.com/embed/nat3u3gAVLE', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (28, './posters/28.jpg', 'Contagio', 'N/A', 'https://www.youtube.com/embed/4sYSyuuLk5g', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (29, './posters/29.jpg', 'Viuda Negra', 'N/A', 'https://www.youtube.com/embed/BIn8iANwEog', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (30, './posters/30.jpg', 'The Martian', 'N/A', 'https://www.youtube.com/embed/XvB58bCVfng', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (31, './posters/31.jpg', 'Ex-Machina', 'N/A', 'https://www.youtube.com/embed/XRYL5spvEcI', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (32, './posters/32.jpg', 'Jurassic World', 'N/A', 'https://www.youtube.com/embed/RFinNxS5KN4', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (33, './posters/33.jpg', 'Soy leyenda', 'N/A', 'https://www.youtube.com/embed/dtKMEAXyPkg', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (34, './posters/34.jpg', 'El primer hombre en la luna', 'N/A', 'https://www.youtube.com/embed/PSoRx87OO6k', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (35, './posters/35.jpg', 'Titanes del pacífico - La insurrección', 'N/A', 'https://www.youtube.com/embed/_EhiLLOhVis', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (36, './posters/36.jpg', 'JOBS: La Vida De Steve Jobs', 'N/A', 'https://www.youtube.com/embed/FrvkCS0ZGPU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (37, './posters/37.jpg', 'Piratas de Silicon Valey', 'N/A', 'https://www.youtube.com/embed/lEyrivrjAuU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (38, './posters/38.jpg', 'Red Social', 'N/A', 'https://www.youtube.com/embed/lB95KLmpLR4', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (39, './posters/39.jpg', 'Antitrust', 'N/A', 'https://www.youtube.com/embed/k3TwIJjyjPM', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (40, './posters/40.jpg', 'Stowaway', 'N/A', 'https://www.youtube.com/embed/A_apvQkWsVY', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (41, './posters/41.jpg', 'Liga de la Justicia - Zack Snyder', 'N/A', 'https://www.youtube.com/embed/BUb_-RxsoBs', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (42, './posters/42.jpg', 'Two and a half men', '12', 'https://www.youtube.com/embed/mVHDanSl2pc', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (43, './posters/43.jpg', 'La casa de Papel', '4', 'https://www.youtube.com/embed/w1jkStuRQU8', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (44, './posters/44.jpg', 'Stranger Things', '4', 'https://www.youtube.com/embed/b9EkMc79ZSU', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (45, './posters/45.jpg', 'Gravity', '', 'https://www.youtube.com/embed/OiTiKOy59o4', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (49, './posters/49.jpg', 'It (eso)', '', 'https://www.youtube.com/embed/FnCdOQsX5kc', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (46, './posters/46.jpg', 'Apollo 13', '', 'https://www.youtube.com/embed/e3ZtOS4MCkk', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (47, './posters/47.jpg', 'La profecía', '', 'https://www.youtube.com/embed/8L-1Qk_MQQs', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (48, './posters/48.jpg', 'El exorcista', '', 'https://www.youtube.com/embed/YDGw1MTEe9k', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (50, './posters/50.jpg', 'The Office', '9', 'https://www.youtube.com/embed/LHOtME2DL4g', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (51, './posters/51.jpg', 'The Good Doctor', '4', 'https://www.youtube.com/embed/fYlZDTru55g', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (52, './posters/52.jpg', 'La teoría del todo', 'N/A', 'https://www.youtube.com/embed/Salz7uGp72c', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (53, './posters/53.jpg', 'Código enigma', 'N/A', 'https://www.youtube.com/embed/nuPZUUED5uk', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (54, './posters/54.jpg', 'Talentos ocultos', 'N/A', 'https://www.youtube.com/embed/RK8xHq6dfAo', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (55, './posters/55.jpg', 'Una mente brillante', 'N/A', 'https://www.youtube.com/embed/jT51irTIrAc', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (56, './posters/56.jpg', 'Passengers', 'N/A', 'https://www.youtube.com/embed/7BWWWQzTpNU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (57, './posters/57.jpg', 'Passengers', 'N/A', 'https://www.youtube.com/embed/iMW4RpQmJJQ', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (58, './posters/58.jpg', 'Argo', 'N/A', 'https://www.youtube.com/embed/JW3WfSFgrVY', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (59, './posters/59.jpg', 'Prometheus', 'N/A', 'https://www.youtube.com/embed/34cEo0VhfGE', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (60, './posters/60.jpg', 'Alien: Covenant', 'N/A', 'https://www.youtube.com/embed/svnAD0TApb8', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (61, './posters/61.jpg', 'Life: Vida inteligente', 'N/A', 'https://www.youtube.com/embed/viX9irZw9Cg', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (62, './posters/62.jpg', 'Madame Curie', 'N/A', 'https://www.youtube.com/embed/w0jqppl-ybY', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (63, './posters/63.jpg', 'The IT Crowd', '4', 'https://www.youtube.com/embed/wCa1jfo93jQ', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (64, './posters/64.jpg', 'Humans', '3', 'https://www.youtube.com/embed/BV8qFeZxZPE', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (65, './posters/65.jpg', 'Need for Speed', 'N/A', 'https://www.youtube.com/embed/u3wtVI-aJuw', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (66, './posters/66.jpg', 'Mare of Easttown', '1', 'https://www.youtube.com/embed/miQqyfO66uw', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (67, './posters/67.jpg', 'Ray', 'N/A', 'https://www.youtube.com/embed/jVHCQfcugdw', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (68, './posters/68.jpg', 'Black Mirror', '5', 'https://www.youtube.com/embed/jVHCQfcugdw', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (69, './posters/69.jpg', 'Detrás de sus ojos', '1', 'https://www.youtube.com/embed/c4LtoWQaLxk', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (70, './posters/70.jpg', 'Her', 'N/A', 'https://www.youtube.com/embed/UVMcpZ42BkA', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (71, './posters/71.jpg', 'Misión Imposible', 'N/A', 'https://www.youtube.com/embed/Ohws8y572KE', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (72, './posters/72.jpg', 'El agente de C.I.P.O.L.', 'N/A', 'https://www.youtube.com/embed/AeUzNxHHryQ', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (73, './posters/73.jpg', 'Jumanji - Bienvenidos a la jungla', 'N/A', 'https://www.youtube.com/embed/2QKg5SZ_35I', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (21, './posters/21.jpg', 'Jumanji - The next level', 'N/A', 'https://www.youtube.com/embed/rBxcF-r9Ibs', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (74, './posters/74.jpg', 'Mujer Maravilla 1984', 'N/A', 'https://www.youtube.com/embed/sfM7_JLk-84', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (75, './posters/75.jpg', 'El Contador', 'N/A', 'https://www.youtube.com/embed/DBfsgcswlYQ', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (76, './posters/76.jpg', 'Mala Educación', 'N/A', 'https://www.youtube.com/embed/DBfsgcswlYQ', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (78, './posters/78.jpg', 'Noche en el Museo', 'N/A', 'https://www.youtube.com/embed/B2G-8raHvOU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (79, './posters/79.jpg', 'Bohemian Rhapsody', 'N/A', 'https://www.youtube.com/embed/mP0VHJYFOAU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (80, './posters/80.jpg', 'Rock of ages', 'N/A', 'https://www.youtube.com/embed/mP0VHJYFOAU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (81, './posters/81.jpg', 'Super 8', 'N/A', 'https://www.youtube.com/embed/QtZ6BQRDk4g', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (82, './posters/82.jpg', 'Jurassic World - El reino caido', 'N/A', 'https://www.youtube.com/embed/vn9mMeWcgoM', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (83, './posters/83.jpg', 'Indiana Jones - y el Reino de la Calavera de Cristal', 'N/A', 'https://www.youtube.com/embed/WAdJf4wTC5Y', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (84, './posters/84.jpg', 'Los Goonies', 'N/A', 'https://www.youtube.com/embed/hJ2j4oWdQtU', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (85, './posters/85.jpg', 'Cars', 'N/A', 'https://www.youtube.com/embed/SbXIj2T-_uk', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (86, './posters/86.jpg', 'Los pingüinos de Madagascar', 'N/A', 'https://www.youtube.com/embed/SbXIj2T-_uk', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (87, './posters/87.jpg', 'Cementerio de animales', 'N/A', 'https://www.youtube.com/embed/JMao8sg4DPA', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (88, './posters/88.jpg', 'Poltergeist', 'N/A', 'https://www.youtube.com/embed/9eZgEKjYJqA', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (89, './posters/89.jpg', 'El código Da Vinci', 'N/A', 'https://www.youtube.com/embed/lfqHb6INj3w', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (90, './posters/90.jpg', 'Johnny English', 'N/A', 'https://www.youtube.com/embed/EG0MR5dFz7E', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (91, './posters/91.jpg', 'Almost Famous', 'N/A', 'https://www.youtube.com/embed/aQXh_AaJXaM', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (92, './posters/92.jpg', 'Escuela de Rock', 'N/A', 'https://www.youtube.com/embed/TExoc0MG4I4', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (93, './posters/93.jpg', 'Mi pobre angelito', 'N/A', 'https://www.youtube.com/embed/jEDaVHmw7r4', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (94, './posters/94.jpg', 'Aprendices fuera de línea', 'N/A', 'https://www.youtube.com/embed/tn02SPT6ivM', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (95, './posters/95.jpg', 'Outsourced', '1', 'https://www.youtube.com/embed/_wR3LhFlgGo', 1);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (96, './posters/96.jpg', 'Miedo Profundo', 'N/A', 'https://www.youtube.com/embed/EgdxIlSuB70', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (97, './posters/97.jpg', 'Everest', 'N/A', 'https://www.youtube.com/embed/5ZQVpPiOji0', 2);
INSERT INTO contenido (id, poster, titulo, temporadas, trailer, id_categoria) VALUES (98, './posters/98.jpg', 'La Familia Addams', 'N/A', 'https://www.youtube.com/embed/G388UMkJIBE', 2);

Consultas para la tabla Contenido_Géneros:
INSERT INTO contenido_generos (contenido_id, genero_id) VALUES (3, 3);
INSERT INTO contenido_generos (contenido_id, genero_id) VALUES (3, 1);
INSERT INTO contenido_generos (contenido_id, genero_id) VALUES (4, 3);
INSERT INTO contenido_generos (contenido_id, genero_id) VALUES (4, 2);
INSERT INTO contenido_generos (contenido_id, genero_id) VALUES (5, 2);